* {
    
}

body {
    font-family: Helvetica Neue,Helvetica,sans-serif;
}

nav {
    background-color: #3590ff;
    display: flex;
    height: 8%;
}

a {
    color: white;
    text-decoration: none;
}

#home {
    display: flex;
    flex: 1;
    align-items: center;
    margin: 1rem;
}

#nav-opt {
    display: flex;
    flex: 3;
    justify-content: space-around;
    align-items: center;
}

#create-user {
    text-align: center;
}

#form {
    display: flex;
    border: 1px solid black;
    flex-direction: column;
    width: 50%;


}

#form form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cards {
    display: flex;
    flex-wrap: wrap;
}

.user-card {
    display: flex;
    border: black 1px solid;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    width: calc(100% / 3 - 50px);
    flex-direction: column;
    align-items: center;
}

@media (max-width: 600px) {
    .user-card {
        width: 100%;
    }

    #home {
        width: 100%;
    }
    
    #nav-opt {
        width: 100%;
    }
}